.rodape {
    display: flex;
    justify-content: center;
    background-color: var(--preto);
    position: absolute;
    top: 1483px;
    width: 100%;
}

.rodape h2 {
    font-weight: 400;
    font-size: 18px;
    color: var(--branco);
    text-align: center;
}